
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
#Status {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    letter-spacing: 4px;
    margin-top: 1rem;
}
.online {
    color: mediumseagreen;
}
.offline{
    color: red;
}
